.container{
    color: white;
    padding: 20px;
    display: flex;
    align-content: space-around;
    background-color: #003848;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 20px;
    border-color: black;
    width: 500px;
}

.letterContainer{
    display: flex;
    align-content: center;
}